.aside-ppp{
  overflow: hidden;
  padding-top: 48px;
  flex: 0 0 208px;
  max-width: 208px;
  min-width: 208px;
  width: 208px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  box-shadow: 2px 0 8px 0 rgb(29 35 41 / 5%);
  background: #fff;
  transition: all .2s;
}